

@font-face {
    src: url('../fonts/Raleway-Light.ttf');
    font-family: railwayLight;
}

.faceSpaceImg {
    height: 200px;
    width: 200px;
}


.feedPosts {
    border-style: none;
    border-width: thick;
    border-radius: 10px;
    padding-right: 40px;
    width: 90%;
    margin: auto; 
    background-color: #72a276;
    overflow: scroll;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feedTitle {
    font-family: railwayLight;
    width: fit-content;
    margin: auto;
    color: white;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

.Post {
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    background-color: whitesmoke;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    transition: 2s;
    font-family: railwayLight;

}

.Post:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    width: 85%;
}

.delete {
    margin-left: 70%;
}

.delete:hover {
    border-style: solid;
    border-width: thin;
}
.text {
    text-align: left;
    font-size: large;
    font-weight: lighter;
    padding-left: 5px;
}

.PostProfilePic {
    height: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: linear-gradient(90deg, rgba(255,111,89,1) 0%, rgba(219,80,74,1) 100%);
    /* background: rgb(255,111,89);
background: radial-gradient(circle, rgba(255,111,89,1) 0%, rgba(219,80,74,1) 100%); */
}

.PostProfilePic:hover {
    color: skyblue;
    opacity: 1;
}
.userPostInfo {
    display: flex;
    padding-right: 10px;
    flex-direction: row;
    /* border-style: solid; */
    /* border-width: thin; */
    /* color: black; */
    background: rgb(255,111,89);
    background: radial-gradient(circle, rgba(255,111,89,1) 0%, rgba(219,80,74,1) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.options {
    display: flex;
    flex-direction: row;
  
    border-width: thin;
   
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.share {
    margin-top: 15px;
    height: 20px;
    width: 30px;
}

.heart {
    height: 50px;
    width: 100px;
}

.likes {
    display: flex;
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.username:hover {
    color: blue;
}

.username {
    padding-left: 5px;
}