.nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    font-size: x-large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(11,181,237);
    background: linear-gradient(90deg, rgba(11,181,237,1) 34%, rgba(0,33,255,1) 100%);
}

button:hover {
    background-color: white;
    color: skyblue;
}

button {
    background-color: white;
    color: black;
    border-radius: 25px;
}

.navItem {
    color: white;    
}

.logo {
    height: 40px;
}
