:root {
    --pumpkinOrange: #ec9b59;
    --pink: #f4d8cd;
    --lightGreen: #9eb19e;
    --darkGreen: #164444;
    --darkBlue: #00202b;
    --goldenRod: #EAF0CE;
    --bone: #D5DBC8;
    --silverSand: #C0C5C1;
    --silverChalice:#B0B5B5;
    --quickSilver: #9FA5A9;
    --romanSilver: #7D8491;
    --oldLavender: #6A6879;
    --oldLavenderDark: #615A6D;
    --englishViolet: #574B60;
    --englishVioletDarker: #3F334D;
  }

@font-face {
    src: url('../fonts/Raleway-Light.ttf');
    font-family: railwayLight;
}

a {
    text-decoration: none;
    color: var(--bone);
}

.nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 4;
    width: 100%;
    font-size: x-large;
    font-family: railwayLight;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: var(--englishVioletDarker);
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    /* background: radial-gradient(circle, rgba(255,111,89,1) 0%, rgba(219,80,74,1) 100%); */
}

nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 3vh;
    line-height: 50px;
  }

  a {
      font-size: 3vh;
      padding: 5px;
  }
.logOut:hover {
    color: white;
}

.logOut {
    background-color: var(--englishViolet);
    color: var(--bone);
    border-radius: 10px;
    border-style: none;
    transition: 2s;
    font-family: railwayLight;
}

.navItem {
    color: white;    
}

.logo {
    height: 40px;
    padding: 10px;
}
