@font-face {
    src: url('../fonts/Raleway-Light.ttf');
    font-family: railwayLight;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    font-size: x-large;
    font-family: railwayLight;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(255,111,89);
    background: radial-gradient(circle, rgba(255,111,89,1) 0%, rgba(219,80,74,1) 100%);
}

button:hover {
    background-color: white;
    color: rgb(255,111,89);
}

button {
    background-color: white;
    color: black;
    border-radius: 25px;
}

.navItem {
    color: white;    
}

.logo {
    height: 40px;
}
