.postForm {
    padding-top: 45px;
}

.inputForm {
    width: 35%;
    height: 50px;
    font-size: large;
}

.submit {
    height: 50px;
    transition: 2s;
}

.upload {
    height: 50px;
    transition: 2s;
}

.upload:hover {
    background-color: darkblue;
}

.submit:hover {
    background-color: darkblue;
    color: skyblue;
}

