.postForm {
    padding-top: 45px;
}

.inputForm {
    width: 35%;
    height: 50px;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit {
    height: 50px;
    transition: 2s;
}

.upload {
    height: 50px;
    transition: 2s;
}

.upload:hover {
    background-color: rgb(255,111,89);
}

.submit:hover {
    background-color: rgb(255,111,89);
    color: white;
}

