:root {
  --pumpkinOrange: #ec9b59;
  --pink: #f4d8cd;
  --lightGreen: #9eb19e;
  --darkGreen: #164444;
  --darkBlue: #00202b;
  --goldenRod: #eaf0ce;
  --bone: #d5dbc8;
  --silverSand: #c0c5c1;
  --silverChalice: #b0b5b5;
  --quickSilver: #9fa5a9;
  --romanSilver: #7d8491;
  --oldLavender: #6a6879;
  --oldLavenderDark: #615a6d;
  --englishViolet: #574b60;
  --englishVioletDarker: #3f334d;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}
.postInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
  text-align: center;
}

.postForm {
  margin-top: 9%;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .postForm {
      margin-top: 25%;
    }
  }

.inputForm {
  width: 100%;
  height: 50px;
  font-size: large;
  font-family: railwayLight;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit {
  height: 50px;
  width: 80%;
  margin: 5px;
  transition: 2s;
  background-color: var(--romanSilver);
  color: var(--bone);
  border-radius: 10px;
  border-style: none;
  transition: 2s;
  font-family: railwayLight;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: railwayLight;
}

.submit:active {
  transform: translateY(4px);
}

.upload {
  height: 50px;
  margin: 5px;
  width: 80%;
  background-color: var(--romanSilver);
  color: var(--bone);
  border-radius: 10px;
  border-style: none;
  transition: 2s;
  font-family: railwayLight;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.upload:active {
  transform: translateY(4px);
}

.uploadInput {
  height: 35px;
  transition: 2s;
  width: 60%;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--englishVioletDarker);
  color: var(--bone);
  border-radius: 10px;
  border-style: none;
  transition: 2s;
  font-family: railwayLight;
}
.upload:hover {
  background-color: rgb(255, 111, 89);
  color: white;
}

.submit:hover {
  background-color: rgb(255, 111, 89);
  color: white;
}
