.feedPosts {
    border-style: solid;
    width: 60%;
    margin: auto;  
    background: rgb(50,41,154);
    background: linear-gradient(0deg, rgba(50,41,154,0.8869922969187675) 13%, rgba(106,116,135,1) 100%);
}

.Post {
    border-style: solid;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

.delete {
    margin-left: 70%;
}

.delete:hover {
    border-style: solid;
    border-width: thin;
}
.text {
    text-align: left;
    font-size: large;
    font-weight: lighter;
    padding-left: 5px;
}

.PostProfilePic {
    height: 50px;
    border-radius: 20px;
    border-style: solid;
    border-color: linear-gradient(90deg, rgba(11,181,237,1) 34%, rgba(0,33,255,1) 100%);
}

.PostProfilePic:hover {
    color: skyblue;
    opacity: 1;
}
.userPostInfo {
    display: flex;
    padding-right: 10px;
    flex-direction: row;
    border-style: solid;
    border-width: thin;
    color: black;
    background: rgb(11,181,237);
    background: linear-gradient(90deg, rgba(11,181,237,1) 34%, rgba(0,33,255,1) 100%);
}
