:root {
    --pumpkinOrange: #ec9b59;
    --pink: #f4d8cd;
    --lightGreen: #9eb19e;
    --darkGreen: #164444;
    --darkBlue: #00202b;
    --goldenRod: #EAF0CE;
    --bone: #D5DBC8;
    --silverSand: #C0C5C1;
    --silverChalice:#B0B5B5;
    --quickSilver: #9FA5A9;
    --romanSilver: #7D8491;
    --oldLavender: #6A6879;
    --oldLavenderDark: #615A6D;
    --englishViolet: #574B60;
    --englishVioletDarker: #3F334D;
  }

@font-face {
    src: url('../fonts/Raleway-Light.ttf');
    font-family: railwayLight;
}

.feedPosts {
    border-style: solid;
    width: 60%;
    margin: auto;  
    /* background: rgb(50,41,154);
    background: linear-gradient(0deg, rgba(50,41,154,0.8869922969187675) 13%, rgba(106,116,135,1) 100%); */
}

.userFeedPostsTitle {
    font-family: railwayLight;
    color: var(--bone);
    text-align: center;
    text-shadow: 2px 1px 1px black;
}

.noFeed {
    font-family: railwayLight;
    color: var(--bone);
    text-align: center;
    text-shadow: 2px 1px 1px black;
}

.delete {
    margin-left: 70%;
}

.delete:hover {
    border-style: solid;
    border-width: thin;
}
.text {
    text-align: left;
    font-size: large;
    font-weight: lighter;
    padding-left: 5px;
}

.PostProfilePic {
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--englishViolet)
}

.PostProfilePic:hover {
    color: skyblue;
    opacity: 1;
}
.userPostInfo {
    display: flex;
    padding-right: 10px;
    border: 2px solid var(--englishViolet);
    /* border-radius: 10px; */
    height: 100%;
    flex-direction: row;
    background: var(--englishViolet);
}
