@font-face {
    src: url('../fonts/Raleway-Light.ttf');
    font-family: railwayLight;
}


.SignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 15px;
}

input {
    justify-content: space-evenly;
    background-color: whitesmoke;
    height: 30px;
    width: 200px;
    font-size: large;
}

ul {
    list-style: none;
}

.info {
    font-size: x-large;
}

.submitButton {
    width: 15%;
    height: 30px;
    font-size: large;
}

.signUpTitle {
    color: white;
    font-family: railwayLight;
    font-size: xxx-large;
    text-shadow: 2px 1px 1px black;
    text-align: center;
}

.signupInfo {
    color: white;
    font-family: railwayLight;
    font: xx-large;
    text-shadow: 2px 1px 1px black;
    text-align: center;
}