:root {
    --pumpkinOrange: #ec9b59;
    --pink: #f4d8cd;
    --lightGreen: #9eb19e;
    --darkGreen: #164444;
    --darkBlue: #00202b;
    --goldenRod: #EAF0CE;
    --bone: #D5DBC8;
    --silverSand: #C0C5C1;
    --silverChalice:#B0B5B5;
    --quickSilver: #9FA5A9;
    --romanSilver: #7D8491;
    --oldLavender: #6A6879;
    --oldLavenderDark: #615A6D;
    --englishViolet: #574B60;
    --englishVioletDarker: #3F334D;
  }


@font-face {
    src: url('../fonts/Raleway-Light.ttf');
    font-family: railwayLight;
}


.SignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 15px;
}

input {
    justify-content: space-evenly;
    background-color: whitesmoke;
    height: 30px;
    width: 200px;
    font-size: large;
}

ul {
    list-style: none;
}

.info {
    font-size: 3vh;
}

.submitButton {
    width: 15%;
    height: 30px;
    font-size: large;
}

.signUpTitle {
    color: var(--englishViolet);
    margin-top: 10%;
    font-family: railwayLight;
    font-size: xxx-large;
    text-shadow: 1px 1px 1px var(--englishVioletDarker);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .signUpTitle {
      margin-top: 25%;
      text-align: center;
    }
  }


.signupInfo {
    color: var(--oldLavender);
    font-family: railwayLight;
    padding-left: unset;
    font: xx-large;font-size: 2vh;
    text-shadow: 1px 1px 1px var(--oldLavenderDark);
    text-align: center;
}

.bioTextArea {
    font-family: railwayLight;
    height: 80px;
    width: 200px;
    font-size: large;
}