:root {
    --pumpkinOrange: #ec9b59;
    --pink: #f4d8cd;
    --lightGreen: #9eb19e;
    --darkGreen: #164444;
    --darkBlue: #00202b;
    --goldenRod: #EAF0CE;
    --bone: #D5DBC8;
    --silverSand: #C0C5C1;
    --silverChalice:#B0B5B5;
    --quickSilver: #9FA5A9;
    --romanSilver: #7D8491;
    --oldLavender: #6A6879;
    --oldLavenderDark: #615A6D;
    --englishViolet: #574B60;
    --englishVioletDarker: #3F334D;
  }



.App {
    background-image: url('../src/css/profileImages/flock-of-birds-917494.jpg');
    background-color: var(--silverChalice);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center; 
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position:absolute;
    width:100%;
    height:100%;
    overflow: scroll;
}


body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
